.home-image{
	text-align:right;
	padding:20px 11px 5px 11px;
}
.eye-icon-btn{
    background-color: transparent !important;
    color: black;
    font-size: 2.2rem !important;
    }
input[type=number],input[type=text],input[type=password]
{
	padding:10px 15px;
}
select,ion-select
{
	padding:5px 11px;
	width:100%;
}
