.home-image{
	text-align:right;
	padding:20px 51px ;
}
.header2
{
	font-size:22px;
    font-weight: 500;	
}
.header1
{
	font-size: 22px;
    font-weight: 500;
    border: 2px solid #28A8E0;
	padding: 7px 0px 7px 0px;
	margin-left: 20px;
	margin-right: 20px;
}
ion-item {
  border: 1px solid #ccc;
  border-radius: 10px;
}