.home-image{
	text-align:right;
	padding:20px 51px ;
}
.header2
{
	font-size:20px;
	font-weight:bold;	
}
.header1
{
	font-size:24px;
	font-weight:bold;
}
ion-item {
  border: 1px solid #ccc;
  border-radius: 10px;
}