<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
	<ion-button (click)="Globale.navigate('/home')">
	   <ion-icon slot="start" name="arrow-round-back"></ion-icon>
	 </ion-button>   
    </ion-buttons>
    <ion-title>{{Globale.Translate?.titre}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
<ion-grid>
  <ion-row>

    <ion-col text-center>
      <img src="{{image}}" alt="" class="image-logo" />
    </ion-col>

  </ion-row>  
</ion-grid>

      <ion-list>
<ion-radio-group  ngModel name="radio">
   <ion-grid>
    <ion-row>

      <ion-col text-center>
        
      <ion-radio  value="IN" ></ion-radio><ion-label class="lradio">{{Globale.Translate?.ldepot}}</ion-label>

      <ion-radio  value="OUT" ></ion-radio><ion-label class="lradio">{{Globale.Translate?.lretrait}} </ion-label>
      </ion-col>
      

    </ion-row>
   </ion-grid>
 </ion-radio-group>
        <ion-item>
          <ion-label position="floating" color="primary"><b>{{Globale.Translate?.lnumber}}</b></ion-label>
          <ion-input type="number" ngModel name="number" placeholder="{{Globale.Translate?.tnumber}}" (ionFocus)="checkFocus(loginForm,'number')" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary" position="stacked"><b>{{Globale.Translate?.lmontant}}</b></ion-label>
          <ion-input type="number"   ngModel name="montant" placeholder="{{Globale.Translate?.tmontant}}" (ionFocus)="checkFocus(loginForm,'montant')"></ion-input>
        </ion-item>
        
      </ion-list>
	  <ion-grid>
		  <ion-row>
        <ion-col text-right>
        <ion-button color="light"  (click)="Globale.navigate('/home')">{{Globale.Translate?.btncancel}}</ion-button>
        
        <ion-button color="primary"  type="submit">{{Globale.Translate?.btncontinue}}</ion-button>
        </ion-col>
      </ion-row>
	  </ion-grid>
    
    
  </form>
</ion-content>
