<ion-header>
  <ion-toolbar color="danger">
  	<ion-buttons slot="start">
	<ion-button (click)="Globale.navigate('/home')">
	   <ion-icon slot="start" name="arrow-round-back"></ion-icon>
	 </ion-button>   
    </ion-buttons>
    <ion-title>Modifier votre mot de passe</ion-title>
  </ion-toolbar>
</ion-header>
<script src="md5.js"></script>
<script>
let password = CryptoJS.MD5("merlin");
alert(password);
</script>
<ion-content padding>
	<form (ngSubmit)="onSubmit()">
      <ion-list>

        <ion-item>
          <ion-label position="floating" color="primary">Mot de passe actuel</ion-label>
          <ion-input type="password"  placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary" position="stacked">Nouveau mot de passe</ion-label>
          <ion-input type="password"  placeholder=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary" position="stacked">Confirmer le mot de passe</ion-label>
          <ion-input type="password"  placeholder=""></ion-input>
        </ion-item>
      </ion-list>
	  <ion-grid>
		  <ion-row>
			  <ion-col>		  
			  <ion-button color="primary"  type="submit">Modifier</ion-button>
			  </ion-col>
		  </ion-row>
	  </ion-grid>
    
    
  </form>
</ion-content>