<ion-header>
  <ion-toolbar color="danger">
  	<ion-buttons slot="start">
	<ion-button (click)="Globale.navigate('/home')">
	   <ion-icon slot="start" name="arrow-round-back"></ion-icon>
	 </ion-button>   
    </ion-buttons>
    <ion-title>{{Globale?.Translate.titre}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
	<form #verifForm="ngForm" (ngSubmit)="onSubmit(verifForm)">
      <ion-list>

        <ion-item>
          <ion-label position="floating" color="primary">{{Globale?.Translate.apassword}}</ion-label>
          <ion-input type="password"  ngModel name="lpass" placeholder="{{Globale?.Translate.lapassword}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary" position="stacked">{{Globale?.Translate.npassword}}</ion-label>
          <ion-input type="password"  ngModel name="npass" placeholder="{{Globale?.Translate.lnpassword}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary" position="stacked">{{Globale?.Translate.cpassword}}</ion-label>
          <ion-input type="password"  ngModel name="cpass" placeholder="{{Globale?.Translate.lcpassword}}"></ion-input>
        </ion-item>
      </ion-list>
	  <ion-grid>
		  <ion-row>
			  <ion-col>		  
			  <ion-button color="primary"  type="submit">{{Globale?.Translate.btnupdate}}</ion-button>
			  </ion-col>
		  </ion-row>
	  </ion-grid>
    
    
  </form>
</ion-content>