<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
	<ion-button (click)="Globale.navigate('/home')">
	   <ion-icon slot="start" name="arrow-round-back"></ion-icon>
	 </ion-button>   
    </ion-buttons>
    <ion-title>{{Globale?.Translate.titre}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
<ion-grid>
  <ion-row>

    <ion-col text-center>
      <img src="{{image}}" alt="" class="image-logo" />
    </ion-col>

  </ion-row>  
</ion-grid>
<ion-item>
         <ion-label>
              <ion-icon name="log-in"></ion-icon>
            </ion-label> 
          <ion-input #C type="number" ngModel name="number" id="number" placeholder="{{Globale?.Translate.labonne}} "></ion-input>
        </ion-item>
      <ion-searchbar type="text" debounce="500" (ionInput)="getItems($event)"  placeholder="{{Globale?.Translate.lsearch}}" ></ion-searchbar>
  <ion-list *ngIf="isItemAvailable">
      <ion-item *ngFor="let item of Items" (click)="moveToPage('cfacture',item.number,C.value)">{{item.date}}</ion-item>
  </ion-list>
    
    
  </form>
</ion-content>
