ion-col{font-size:11px;line-height:165%;}
.titre
{
	font-size:12px;
}
.jour
{
	font-size:11px;
}
.statut
{
	font-size:12px;
}
.prix
{
	font-size:15px;
}
.content
{
	line-height:175%;
	font-size:11px;
}
.smallbutton
{
	font-size:14px;
}
.icontent
{
	line-height:175%;
	font-size:13px;
	padding-top:14px;
}
